.title {
	font-size: 2.4rem;
	text-align: left;
}

.subtitle {
	margin-top: 1rem;
	text-align: left;
	line-height: 1.2;
}

/*** Text colors *************************/
.text-light {
	color: #ffffff;
}

.text-primary {
	color: #ee209c;
}

.text-secondary {
	color: #ffc411;
}

.text-tertiary {
	color: #52c2db;
}

.text-quaternary {
	color: #fa630e;
}