button {
	border: none;
	background-color: transparent;
}

button:focus {
	outline: 0;
}

.btn {
	text-transform: uppercase;
	font-family: "DM Sans", sans-serif;
	border: none;
}

.btn--cta {
	border-radius: 3em;
	padding: 0.5em 1.5em;
	font-size: 2.4rem;
	color: #000000;
	background-color: #ee209c;
}

.btn--cta:hover {
	color: #ffc411;
}

.btn--social {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	padding-top: 1.6rem;
	background-color: #ffc411;
}

.btn--social a {
	color: #ee209c;
	font-size: 2.4rem;
}